<div class="book-summary">
    <div class="profile-container">
        <img src="{{ site.avatar }}" alt="Profile Picture" class="profile-picture">
        <h3 class="profile-name">{{ site.author }}</h3>
    </div>
    <div id="book-search-input" role="search">
        <input type="text" placeholder="Type to search" />
    </div>
    <nav role="navigation">
        <ul class="summary">
            <li>
                <a href="{{ site.baseurl }}/" class="custom-nav-link">HOME</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/categories/" class="custom-nav-link">CATEGORIES</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/archives/" class="custom-nav-link">ARCHIVES</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/about/" class="custom-nav-link">ABOUT</a>
            </li>
        </ul>
    </nav>
</div>