---
layout: dev-wiki
title: Dev
permalink: /dev/wiki/
---

<div class="dev-wiki-home">
  <h1 class="dev-wiki-home-title">💻 Dev</h1>
  <p class="dev-wiki-home-description">개발 관련 문서, 오류 해결 가이드, 문법 레퍼런스</p>

  {% assign dev_structure = site.data.dev_structure %}
  
  <div class="dev-wiki-subcategories">
    {% for subcat in dev_structure.subcategories %}
      <div class="dev-wiki-subcategory-card">
        <div class="dev-wiki-subcategory-header">
          <span class="dev-wiki-subcategory-icon">{{ subcat.icon }}</span>
          <h2 class="dev-wiki-subcategory-title">
            <a href="/dev/{{ subcat.id }}/">{{ subcat.title }}</a>
          </h2>
        </div>
        <p class="dev-wiki-subcategory-description">{{ subcat.description }}</p>
        
        <div class="dev-wiki-subcategory-sections">
          {% for section in subcat.sections %}
            <a href="/dev/{{ subcat.id }}/{{ section.id }}/" class="dev-wiki-section-link">
              {{ section.title }}
            </a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>



